.sidebar
	ul
		li.indexIcon
			a(href="/index")
				i.fa.fa-envira
		li.setting.has-hover
			.hover-tips 设置
				.trangle
			a(href="/setting")
				i.fa.fa-cogs
		li.publish.has-hover
			.hover-tips 写文章
				.trangle
			a(href="/publish")
				i.fa.fa-pencil
