.blogItem{
    border-bottom: 1px dashed #999;
    padding:15px 0 15px 0;
}
.container{
    width:60%;
}
.blogItem .authname{
    font-size: 12px;
}
.blogItem .articleName{
    color: rgba(0,0,0,0.8);
}
.blogItem .articleName:hover{
    cursor: pointer;
    color: rgba(0,0,0,1);

}
.blogItem p{
    margin: 10px 0 10px 0;
}
.blogItem .articleName{
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
}

.login, .logup, .publish{
    position: fixed;
}

.login{
    top: 34px;
    right:100px;
}
.login-content{
    position: absolute;
    width:40%;
    top:50px;
    right:0;
}
.logup{
    top:34px;
    right:50px;
}
.publish{
    top:50px;
    left:50px;
}
#logout{
    display: none;
}

.page-header{
    cursor: pointer;
}


/*用户部分*/
.user-msg{
    display: inline-block;
    position: fixed;
    top:35px;
    right:30px;
}
.user-msg .avatar{
    display: inline-block;
    width:40px;
    height:40px;
    border: none;
    position: relative;
}
.user-msg .avatar img{
    width:100%;
    height:100%;
    border-radius: 50%;
    border:2px solid white;
}
.user-msg .avatar:hover img{
    border: 2px solid #2aabd2;
}
.user-msg .m-caret{
    position: absolute;
    top: 12px;
    right:-14px;
}
.user-msg .m-dropdown{
    display: block;
    position: absolute;
    /*float: left;*/
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    padding:5px 0;
    right:-20px;
    margin-top: 10px;
    list-style:none;
    border-color: #d9d9d9;
}
.user-msg li{
    line-height:20px;
}

.user-msg li a{
    display: block;
    padding:3px 20px;
    line-height:20px;
    width:160px;
}
.user-msg .m-dropdown{
    display: none;
}
.user-msg .m-dropdown::before,.m-dropdown::after{
    position: absolute;
    content: '';
    display: inline-block;
    top:-10px;
    left:115px;
    border-left: 9px solid transparent;
    border-right:9px solid transparent;
    border-bottom: 9px solid #d9d9d9;
}
.user-msg .m-dropdown::after{
    top:-9px;
    border-bottom: 9px solid white;
}