body{
    background: #ffffff;
}
a{
    cursor: pointer;
}
.login-part{
	width: 30%;
	position: absolute;
    border: 1px solid #28a4c9;
    background: #ffffff;
    padding:20px;
}
.login-new{
    right:100px;
    top:100px;
}
.login-old{
    right:120px;
    top:120px;
}
.part-title{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.showPicture{
    background: url("./bg.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width:550px;
    height:600px;
}