doctype
html
	meta(charset="utf-8")
	title #{title}
	include ./includes/head
	block style
body
	include ./includes/header
	if logged
		.user-msg
			a.user.avatar#avatar(href="#")
				img(src="#{avatar}")
				i.fa.m-caret.fa-caret-down
			ul.m-dropdown
				li
					a(href="/setting")
						i.fa.fa-user
						span &nbsp;设置
				li
					a(href="/logout")
						i.fa.fa-sign-out
						span 注销
			div#logout
				a(href="/logout") &nbsp;注销
	else
		div#login
			.login
				a(href='/login')
					i.fa.fa-sign-in &nbsp;登录
			.logup
				a(href='/login')
					i.fa.fa-user &nbsp;注册





	.publish
		a(href='/publish') 发布文章
	block content