doctype
html
	meta(charset="utf-8")
	title #{title}
	include ./includes/head
	block style
body
	include ./includes/header
	if logged
		div#logout
			a(href="/logout") 注销
		include ./includes/user
	else
		div#login
			.login
				a(href='/login')
					i.fa.fa-sign-in &nbsp;登录
			.logup
				a(href='/login')
					i.fa.fa-user &nbsp;注册





	.publish
		a(href='/publish') 发布文章
	block content