extends ../layout

block content
	.container.m-container
		include ../includes/navbar
		div.bg
		.blogContent
			each item in blogs
				div.blogItem
					a(href="#" class='authname') #{item.authorName}
					div
						p.articleName #{item.articleName}
					div.articleMsg
						span.total
						span.reply
					input(type="text" style='display:none' value="#{item._id}")
	script(src="script/index.js", type="text/javascript")
