extends ../layout
block content
	.blogList
		div.item
			i.fa.fa-pencil &nbsp;新建文稿
		each item in blogs
			div.item(id="#{item._id}") #{item.articleName}
	.container.publish-container
		- console.log('blog length',blogs.length)
		if(blogs.length > 0)
			form(method="post",action="/publish",name="blog",role="form")
				.form-group
					input.article-name(type="text",name="blog[articleName]", value="#{blogs[0].articleName}")
				.form-group
					textarea.article-content(type="text",name="blog[articleContent]",rows="10") #{blogs[0].articleContent}
				.from-group
					button.btn.btn-default#publish(type="submit") 发布
		else
			div.default-panel 默认




