extends ../layout

block content
	.container
		.row
			form.form-horizontal(method='post',action='/update',name='user',role='form')
				.form-group
					label.col-sm-2 用户名
					.col-sm-5
						input.form-control(type='text', name='username', value='#{user.username}')
				.form-group
					label.col-sm-2 密码
					.col-sm-5
						input.form-control(type='text', name='password', value='#{user.password}')
				.form-group
					.col-sm-10
						button.btn.btn-default#update(type='submit') 保存更改
	script(src="script/detail.js",type="text/javascript")
	script(src="script/index.js", type="text/javascript")